@use "globals";
@use "fonts";
@use "colors";

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../img/backgroung-image-hero-section.jpeg"), lightgray 0px -851.143px;
  background-position: 302% 207.51%;
  padding: 0rem 1rem 6.25rem 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.header__title-introduction {
  font-family: fonts.$heading-font;
  font-size: 5.25rem;
  color: rgb(255, 255, 255);
}

.header__subtitle-introduction {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  overflow: hidden;

  &__buy-now {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: colors.$secondary-color-text;
    font-family: fonts.$text-font;
    font-size: 0.875rem;
    text-transform: uppercase;
    width: 100%;
  }
}

.column {
  &__frame01 {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.25rem;
  }
}

.frame01 {
  &__col01 {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}

.buy-now {
  &__column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-style: none;
    padding: 0;
    margin: 0;
  }
}

input {
  border-style: none;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 0.62rem 0 0.62rem 0;
  text-align: start;
  font-family: fonts.$heading-font;
}

.section-special-offer {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__image-container {
    width: 100%;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    background-color: colors.$primary-color-special-offer-cards;
    border-radius: 0 0 26px 26px;
    margin-top: -64px;
  }
}

.image-container {
  &__image {
    width: 100%;
  }
}

.text-block {
  &__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: fonts.$text-font;
    color: colors.$secondary-color-text;
    font-size: 1.75rem;
    font-weight: 400;
  }

  &__description {
    font-family: fonts.$heading-font;
    color: colors.$primary-color-titles;
    margin: 0;
  }

  &__price {
    font-family: fonts.$text-font;
    color: colors.$secondary-color-text;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
  }
}

.price {
  &__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}

.details {
  &__cost {
    color: colors.$primary-color;
    font-size: 2rem;
  }
}

.title__stars {
  display: block;
}

.section-special-offer__responsive {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  &__text-block {
    font-family: fonts.$heading-font;
    color: colors.$primary-color-titles;
    font-size: 1.9rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__readmore {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
  }
}
.text-block {
  &__text-blog {
    font-family: fonts.$text-font;
    color: colors.$primary-color-titles;
    line-height: 42px;
    font-size: 1.125rem;
  }
}

.readmore {
  display: flex;
  align-items: center;
  &__anchor {
    font-family: fonts.$text-font;
    color: colors.$primary-color;
    line-height: 52px;
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) and (max-width: 1440px) {
  .hero-section {
    background-size: cover;
    background-position: 0%;
  }

  .content-block {
    flex-direction: row;
    width: 80%;
    align-items: center;
  }

  .column {
    &__frame01 {
      display: flex;
      flex-direction: row;
      padding: 0;
    }
  }

  .frame01 {
    &__col01 {
      gap: 0;
    }
  }

  .buy-now {
    &__column {
      display: flex;
      flex-direction: row;
      gap: 2.5rem;
      padding-left: 32px;
    }
  }

  .section-special-offer__responsive {
    display: flex;
    flex-direction: row;
  }

  .section-special-offer__image-container {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: row;
    &__image-container {
      width: 2400px;
    }
  }

  .text-block {
    display: flex;
    flex-direction: column;
    &__heading {
      font-size: 2.25rem;
    }
  }
}
